<!doctype html>
<html ng-app="ui.bootstrap.demo" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <script src="../js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="../js/date.js"></script>
    <link href="../css/angular-bootstrap.css" rel="stylesheet"/>
</head>

<body>
<div style="padding: 0px 15px" ng-controller="DatepickerDemoCtrl">
    <div class="row">
        <div class="center-block col-md-4 " style="float: none;">
            <form method="GET" th:action="@{/orders/search}" th:object="${dates}">

                <h4>Create report by dates</h4>

                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" th:field="*{startDate}" class="form-control"
                                   datepicker-popup="{{format}}" ng-model="dt1"
                                   is-open="opened1" min-date="minDate" max-date="'2020-06-22'"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" th:field="*{endDate}" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="dt2"
                                   is-open="opened2" min-date="minDate" max-date="'2020-06-22'"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                </div>
                <input type="submit" value="Create" class="btn btn-sm btn-info pull-right"/>
            </form>

        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-8">
        <table class="table table-condensed table-striped ">
            <tr th:each="article : ${report}">
                <td th:text="${article.key}">article name</td>
                <td th:text="${article.value}">article quantity</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

</body>
</html>
